* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    padding: 0px;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}
.main img {
    height: 400px !important;
    margin: 0;
    padding: 0;
}
.banner {
    margin: 0;
    padding: 0;
    width: 100%;
}
.buscar {
    width: 100%;
    padding: 5px;
}
.buscar input {
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.descripcion {
    color: slategrey;
}
input.src {
    padding: 9px 10px 9px 32px;
    background: #fff url("imagenes/searchicon.png") no-repeat 5px center;
    color: #444;
}
.enlaces {
    display: block;
}
.icon {
    float: left;
    padding: 28px;
    padding-top: 0;
    font-size: xx-large;
    color: #fff;
}
.menu_vertical li:hover{
    display: block;
    position: relative;
    outline: none;
    text-decoration: none;
    text-decoration-style: none;
    display: block;
    font-size: x-small;
    padding: 10px;
}
.titulo {
    padding-top: 0;
    font-size: x-large;
}
.gradient {
    background-image: linear-gradient(45deg,dodgerblue, brown);
}
.gradient2 {
    background-image: linear-gradient(to right, orange, red);
}
/* .top {
    padding-top: 90px;
} */
.pad {
    padding-right: 100px;
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.header {
    height: 100px;
}
.menu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-top: 100px;
}
.menu li a {
    display: block;
    text-decoration: none;
    padding: 18px;
    margin-bottom: 7px;
    background-color : dodgerblue;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li a:hover {
    background-color:brown;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 227, 227);
    justify-content: space-evenly;
}
.navbar li {
    float: left;
    border-right: 1px solid #ddd;
    border-radius: 15px;
    margin: 2px 2px 2px 2px;
}
.navbar li:first-child {
    border-right: none;
}
.navbar li a{
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: brown;
    color: white;
    border-radius: 15px;
}
.navbar li a:hover:not(.active) {
    border-radius: 15px;
    color: white;
    background-color: brown;
}
.active {
    background-color: burlywood !important;
    color:  black !important;
    border-radius: 15px;
    padding: 30px;
    box-shadow: #444;
    font-size: larger;
    font-weight: bolder;
}
.row3 {
    padding: 50px;
    color: white;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif !important;
}
.row3a {
    padding: 0;
    margin: 0;
}
.row3b img {
    height: 200px;
}
.galery {
    vertical-align: middle;
    text-align: center;   
}
.galery > a > img {
    height: 200px !important;
    vertical-align: bottom;
    justify-content: center;
}
.footer {
    text-decoration: none;
   
    padding-top: 0;
    padding-bottom: 30px;
}
.pie{
    background-color: gainsboro;
    height: 35vh;
    text-align: center;
    padding: 30px;
    vertical-align: top;   
}
.pie a {
    text-decoration: none;
    text-align: center;;
    vertical-align: middle;
    color: rgb(19, 18, 18);   
}
.pie ul {
    list-style-type: none;
}
.pie li {
    padding-left: 20px;
    font-size: smaller;
    text-align: left;
}
.precio {
    background-color: burlywood;
    text-align: center;
    padding: 3px;
    font-weight: bolder;
}
.derechos {
    display: block;
    text-align: center;
    background-color: darkcyan;
    color: white;
    font-size: x-small;
}
#btn_menu {
    display: none;
}
.icon label {
    display: block;
    width: 20px;
    height: 20px;
    font-size:xx-small;

}
.icon label:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);

}
.menu_vertical {
    position: absolute;
    background:#4E94AB;
    width: 70%;
}
.menu_vertical ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* display: none; */
    text-decoration: none;
}
.menu_vertical ul li a {
    display: none;
}
.menu_vertical ul li a:hover {
    text-decoration: none;
    display: block;
    padding: 20px;
    border-top: 1px solid;
}
/* #btn_menu:checked ~ .menu_vertical {
    margin: 0;
} */


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
